.footer_copyright {
  color: #666;
  text-align: center;
  // border-top: 1px solid #ccc;
  font-size: 0.9rem;
  padding-top: 12px;
  padding-bottom: 16px;
  -webkit-font-smoothing: subpixel-antialiased;

  p {
    margin: 12px 0;
  }

  > p:first-child a {
    color: #666;
  }
}
