.main_container {
  padding-left: 250px;
  height: 100%;
}
.main_container > * {
  float: left;
  height: 100%;
}
.main_left {
  width: 250px;
  left: 0;
  position: relative;
  margin-left: -250px;
  background-color: #58B9C7;
}
.main_right {
  width: 100%;
  background-color: #fff;
  padding: 0px 50px;
  box-sizing: border-box;
  overflow-y: scroll;
}

@media screen and (max-width: 768px){
  .main_container {
    padding-left: 0;
  }
  .main_left {
    left: -250px;
  }
  .main_right {
    padding: 0 10px;
    :global(.date) {
      display: none;
    }
  }
}