/* 全局性样式 */
@font-face {
  font-family: iconfont;
  src: url(../assets/font/iconfont.eot);
  src: url(../assets/font/iconfont.eot?#iefix) format("embedded-opentype"), url(../assets/font/iconfont.ttf) format("truetype"), url(../assets/font/iconfont.svg#iconfont) format("svg");
}
.iconfont {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: .2px
}
.icon-weibo:before {
  content: "\e600"
}
.icon-archive:before {
  content: "\e601"
}
.icon-user:before {
  content: "\e602"
}
.icon-rss-v:before {
  content: "\e603"
}
.icon-tags:before {
  content: "\e604"
}
.icon-home:before {
  content: "\e605"
}
.icon-search:before {
  content: "\e606"
}
.icon-googleplus:before {
  content: "\e607"
}
.icon-weixin:before {
  content: "\e608"
}
.icon-mail:before {
  content: "\e609"
}
.icon-twitter-v:before {
  content: "\e60a"
}
.icon-linkedin:before {
  content: "\e60b"
}
.icon-stackoverflow:before {
  content: "\e60c"
}
.icon-github-v:before {
  content: "\e60d"
}
.icon-facebook:before {
  content: "\e60e"
}
.icon-right:before {
  content: "\e60f"
}
.icon-left:before {
  content: "\e610"
}
.icon-link:before {
  content: "\e611"
}
.icon-https:before {
  content: "\e612"
}
/* ---normalize相关?--- */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
  ========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
  ========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}
/**
* Add the correct display in IE 9-.
*/
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
  ========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px;
}
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
  ========================================================================== */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
* 1. Remove the bottom border in Chrome 57- and Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
b,
strong {
  font-weight: inherit;
}
/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic;
}
/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #ff0;
  color: #000;
}
/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
  ========================================================================== */
/**
* Add the correct display in IE 9-.
*/
audio,
video {
  display: inline-block;
}
/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none;
}
/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden;
}
/* Forms
  ========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}
/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}
/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto;
}
/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
  ========================================================================== */
/*
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
*/
details,
/* 1 */
menu {
  display: block;
}
/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}
/* Scripting
  ========================================================================== */
/**
* Add the correct display in IE 9-.
*/
canvas {
  display: inline-block;
}
/**
* Add the correct display in IE.
*/
template {
  display: none;
}
/* Hidden
  ========================================================================== */
/**
* Add the correct display in IE 10-.
*/
[hidden] {
  display: none;
}

body {
  color: #555;
  font-family: Helvetica Neue,Arial,Hiragino Sans GB,STHeiti,Microsoft YaHei;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
}

html, body, #root {
  height: 100%;
}

a, a:hover {
  color: #2479cc;
  text-decoration: none;
}

/* 文章样式 */
#toc {
  float: right;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  margin: 0 0 15px 20px;
  max-width: 260px;
  min-width: 120px;
  padding: 6px;
  background-color: #fff;
}

#toc p {
  margin: 1px;
}

#toc ul {
  margin: 0 .5em 0 1.5em;
}

#toc strong {
  border-bottom: 1px solid #e2e2e2;
  display: block;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

article img {
  height: auto;
  max-width: 910px;
}

article {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  padding: 30px 0;
  position: relative;
  word-wrap: break-word
}

article .meta {
  color: #555;
  float: right;
  font-size: .9em;
  line-height: 2;
  position: relative;
  text-align: right;
  width: auto
}

article .meta a {
  color: #999
}

article h1.title {
  font-size: 2em;
  font-weight: 300;
  line-height: 35px;
  margin-top: -5px;
  margin-bottom: 25px
}

article h1.title,
article h1.title a {
  color: #000
}

article .meta .date,
article .meta .comment,
article .meta .tags {
  position: relative
}

article h1.title a:hover {
  color: #2479CC;
  transition: color .3s
}

article button,
article input.runcode {
  -webkit-appearance: button;
  background: #12b0e6;
  border: none;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, .1);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  margin-top: 10px;
  padding: 0.625em .5em
}

article strong {
  font-weight: 700
}

article em {
  font-style: italic
}

article blockquote {
  background-color: #f8f8f8;
  border-left: 5px solid #2479CC;
  margin-top: 10px;
  margin-left: 0;
  padding: 15px 20px
}

article code {
  background-color: #f2f2f2;
  border-radius: 5px;
  font-family: "Consolas", "Courier New", Courier, mono, serif;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  vertical-align: middle
}

article pre {
  color: #5d6a6a;
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  padding: 0.6em;
  position: relative;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word
}

article img {
  border: 1px solid #ccc;
  display: block;
  margin: 10px 0 5px;
  max-width: 100%;
  padding: 0
}

article table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0
}

article blockquote p {
  margin-bottom: 0
}

article pre code {
  background-color: transparent;
  border-radius: 0 0 0 0;
  border: 0;
  display: block;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative
}

article table th,
article table td {
  border: 0
}

article table th {
  border-bottom: 2px solid #848484;
  padding: 6px 20px;
  text-align: left
}

article table td {
  border-bottom: 1px solid #d0d0d0;
  padding: 6px 20px
}

article .expire-tips {
  background-color: #ffffc0;
  border: 1px solid #e2e2e2;
  border-left: 5px solid #fff000;
  color: #333;
  font-size: 15px;
  padding: 5px 10px
}

article .aliyun-tips {
  background-color: #f0f8f4;
  border: 1px solid #e2e2e2;
  border-left: 5px solid #7cc4a0;
  font-size: 15px;
  padding: 5px 10px
}

article .post-info {
  font-size: 14px
}

article .entry-content {
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word
}

article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content p,
article .entry-content pre {
  margin-top: 15px
}

article pre b.name {
  color: #eee;
  font-size: 60px;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px
}

article .entry-content .date {
  color: #999;
  font-size: 14px;
  font-style: italic
}

article input.runcode:hover,
article input.runcode:focus,
article input.runcode:active {
    background: #f6ad08
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl,
article .entry-content blockquote > p:first-of-type {
  margin-top: 0
}

article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
  margin-left: 25px
}

article.tags section a {
  border: 1px solid rgba(36, 121, 204, .8);
  border-radius: 4px;
  color: rgba(36, 121, 204, .8);
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0 15px 10px 0;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4, .01, .165, .99), border .2s cubic-bezier(.4, .01, .165, .99);
  transition: color .2s cubic-bezier(.4, .01, .165, .99), border .2s cubic-bezier(.4, .01, .165, .99)
}

article.tags section a:hover {
  border-color: #2479CC;
  color: #2479CC
}

/*------ custome ------*/

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ol, ul {
  padding: 0;
}

.page_pagination {
  position: relative;
  padding: 16px;
  height: 30px;
  border-bottom: 1px solid #ddd;
  .page_paginationPrev {
    position: absolute;
    left: 20px;
    line-height: 30px;
  }
  .page_paginationNext {
    position: absolute;
    right: 20px;
    line-height: 30px;
  }
}

h1.intro {
  background-color: #f6f9fa;
  color: #999;
  padding: 20px 30px;
  text-align: center;
}

@media screen and (max-width: 767px){
  .page_pagination {
    height: auto;
    .page_paginationPrev {
      display: block;
      position: relative;
      left: 0;
      text-align: left;
    }
    .page_paginationNext {
      display: block;
      position: relative;
      right: 0;
      text-align: right;
    }
  }
}
